<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="../../static/main.css"/>
    

    <title>Multiuser blog Project</title>
  </head>

  <body>
    <a href="/blog" class="main-title">
      Alan's Multiuser Blog App
    </a>

    <div class="login-area">
      {% if user %}
        {{user.name}} (<a class="login-link" href="/logout">Logout</a>)
      {% else %}
        <a class="login-link" href="/login">Login </a>
      |
        <a class="login-link" href="/signup"> Signup</a>
      {% endif %}
    </div>
    <div>
      <a id="blogGen" href="/blog/newpost">Click Here to Create a New Blog</a>
      <br>
      <br>
      <a href="/blog" id="gotoBlogs">Go to all blogs</a>
    </div>  
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

