{% extends "base.html" %}

{% block content %}

 <div class="newAccountBox"> 
  <h2>Create a New Account Here</h2>
  <form method="post">
        <p class="label">
          Username
        <input type="text" name="username" value="{{username}}">
        </p>

        <p class="error">
          {{error_username}}
        </p>

        <p class="label">
          Password
          <input type="password" name="password" value="">
        </p>

        <p class="error">
          {{error_password}}
        </p>

        <p class="label">
          Verify Password
          <input type="password" name="verify" value="">
        </p>

        <p class="error">
          {{error_verify}}
        </p>

        <p class="label">
          Email (optional)
          <input type="text" name="email" value="{{email}}">
        </p>
        
        <p class="error">
          {{error_email}}
        </p>
    <input type="submit" id="pinksubmit">
  </form>
</div>
 
 {% endblock %}
